* {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    /* background-size: contain; */
    background: no-repeat center center fixed;
}

input {
    /* opacity: 0;
    position: fixed;
    width: 0; */
    display: none;
}

label {
    cursor: pointer;
    display: block;
    margin: 1rem;
}

label:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

input:checked + p {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

button {
    border: black solid 1px;
    padding: 5px;
    display: block;
    border-radius: 5px;
    color: black;
    background-color: white;    
    margin: 0 auto;
    cursor: pointer;
}

button:hover {
    background: rgba(255, 255, 255,.5);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    /* position: relative; */
    padding-top: 100px;
    height: 100vh;
    text-align: center;
}

h2 {
    margin-top: 0;
}

#result {
    background: #e38548;
    padding: 20px;
}

#result-description {
    background: #e38548;
    font-weight: bolder;
}

.hidden {
    display: none;
}
